.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-form {
    background-color: #2C3333;
    padding: 35px;
    border-radius: 35px;
    text-align: center;
    min-width: 320px;
}
.login-headtext {
    color: white;
    margin-bottom: 5px;
}
.login-hr {
    color: white;
}
.login-p {
    color: white;
    margin-bottom: 35px;
}
